<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <util:properties id="dataSourceProperties" location="classpath:config/mybatis/db.properties"/>

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="#{dataSourceProperties['datasource.driver']}"/>
        <property name="url" value="#{dataSourceProperties['datasource.url']}"/>
        <property name="username" value="#{dataSourceProperties['datasource.username']}"/>
        <property name="password" value="#{dataSourceProperties['datasource.password']}"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="configLocation" value="classpath:/config/mybatis/mybatis-config.xml"/>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!--        <context:component-scan base-package="com.bit.board.controller" />-->
    <!--        <context:component-scan base-package="com.bit.member.controller" />-->
    <!--        <context:component-scan base-packages="com.bit.myPage.controller" />-->
    <!--        <context:component-scan base-package="com.bit.notice.controller" />-->
    <!--        <context:component-scan base-package="com.bit.order.controller" />-->
    <!--        <context:component-scan base-package="com.bit.product.controller" />-->
    <!--        <context:component-scan base-package="com.bit.review.controller" />-->
    <!--        <context:component-scan base-package="com.bit.wish.controller" />-->


</beans>